@page "/Account/Manage"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using MyBudget.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor


<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<EditForm Model="Input" OnValidSubmit="OnValidSubmitAsync">
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" role="alert" />
                    <MudTextField Label="Username" @bind-Value="username" HelperText="Please choose your username." Disabled="true" />
                    <MudTextField Label="Phone Number" @bind-Value="Input.PhoneNumber" HelperText="Please enter your phone number." />
                    <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    private IdentityUser user = default!;
    private string? username;
    private string? phoneNumber;

    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContextAccessor.HttpContext!);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);

        Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
                return;
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }
    }
}