@page "/Account/Logout"
@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager
@inject ILogger<Logout> Logger

<h3>Saindo...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await SignInManager.SignOutAsync();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Erro ao realizar logout.");
        }
        NavigationManager.NavigateTo("/");
    }
}
